section {
    width: 1340px;
    margin: 0px auto 80px;
}

section h1 {
    margin: 50px 0px;
    font-size: 2em;
}

.image_container {
    height: 409px;
    width: 653px;
}

.image_container img {
    height: 100%;
    width: 100%;
}

.text_container #main-golpo {
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.75;
    margin: 40px 0px !important;
}

.text_container #main-golpo .first-letter {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.25;
}

.golpo-form p {
    margin: 0;
}

.likhoni-heading {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(243, 243, 243);
    margin: 20px;
}

.story-devider {
    padding: 25px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-devider .devider-line {
    background-color: lightgrey;
    height: 3px;
    width: 35%;
}

.story-devider .devider-star {
    font-size: 20px;
    margin: 0px 5px;
    color: gray;
    transform: rotate(200deg);
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        -moz-transform: rotate(200deg);
        -webkit-transform: rotate(200deg);
        -o-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
    }
    100% {
        -moz-transform: rotate(560deg);
        -webkit-transform: rotate(560deg);
        -o-transform: rotate(560deg);
        -ms-transform: rotate(560deg);
    }
}

/* 1  Extra large devices (large laptops and desktops, 1200px and up) */

@media (min-width: 1200px) and (max-width: 1499px) {
    section {
        width: 1100px;
    }
}

/* 2  Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
    section {
        width: 900px;
    }
}

/* 3  Medium devices (landscape tablets, 600px and up) */

@media (min-width: 600px) and (max-width: 991px) {
    section {
        width: calc(100% - 130px);
    }
    .image_container {
        height: 409px;
        width: 100%;
    }
}

/* 4  Small devices (portrait tablets and large phones, 500px and up) */

@media (min-width: 500px) and (max-width: 599px) {
    section {
        width: calc(100% - 130px);
    }
    section h1 {
        margin: 45px 0px 30px;
        font-size: 1.85em;
    }
    .image_container {
        height: 309px;
        width: 100%;
    }
    .text_container p {
        font-size: 17px;
        font-weight: 400;
        text-align: justify;
        line-height: 1.75;
        margin: 25px 0px 25px;
    }
    .text_container p .first-letter {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.25;
    }
}

/* 5  Extra small devices (phones, 361px and up) */

@media (min-width: 361px) and (max-width: 499px) {
    section {
        width: calc(100% - 60px);
    }
    section h1 {
        margin: 40px 0px 30px;
        font-size: 1.6em;
    }
    .image_container {
        height: 250px;
        width: 100%;
    }
    .text_container p {
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
        line-height: 1.75;
        margin: 20px 0px 25px;
    }
    .text_container p .first-letter {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.25;
    }
}

/* 6  Extra extra small devices (phones, 360px and down) */

@media (max-width: 360px) {
    section {
        width: calc(100% - 50px);
    }
    section h1 {
        margin: 30px 0px 20px;
        font-size: 1.5em;
    }
    .image_container {
        height: 200px;
        width: 100%;
    }
    .text_container p {
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
        line-height: 1.75;
        margin: 20px 0px 25px;
    }
    .text_container p .first-letter {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.25;
    }
}
