<footer>
    <div class="top-arrow-icon">
        <a href="#">
            <i class="fa-solid fa-chevron-up"></i>
        </a>
    </div>
    <h4>Follow Us</h4>
    <div class="social-icons-container">
        <a href="#">
            <div class="twitter icon"> <i class="fa-brands fa-twitter"></i> </div>
        </a>
        <a href="#">
            <div class="instagram icon"><i class="fa-brands fa-instagram"></i> </div>
        </a>
        <a href="#">
            <div class="facebook icon"> <i class="fa-brands fa-facebook-f"></i></div>
        </a>
    </div>
    <p style="font-size: 14px; color: bisque;">If you have any questions, please let us know via the email below</p>
    <div class="mail"> <a style=" color: rgba(240, 255, 255, 0.466);  "
            href="mailto:sofolotardak@gmail.com">sofolotardak@gmail.com</a>
    </div>
    <p>© 2023 <span class="gontobyo">Sahreyar Arafat</span>, All Rights Reserved.</p>
    <p>Made by the <span class="heart">&#x2665;</span> of <a href="mailto:sahreyararafat@gmail.com">SahreyarArafat</a>
    </p>
</footer>